h1 {
    color: brown;
}
*{
    border: solid;
}


.header {
    background-color: cadetblue;
    display:flex;
    justify-content: space-between;
}

.item1 {
    display: flex;
    flex-wrap: wrap;
    justify-content:flex-end;
    background-color: blanchedalmond;
}
body {
    margin: 0px;
    background-color: #66ff22;
}